<form method="post" action="{{ path('demo_user_login_check') }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <h4 class="nomargin">{{ "Sign In"|trans }}</h4>
    <p class="mt5 mb5">{{ "Login to access your account."|trans }}</p>
    {% if error %}
        <div class="alert alert-danger nomargin">
            {{ error.message|trans }}
        </div>
    {% endif %}
    <input type="text" class="form-control uname" name="_username" value="{{ last_username }}" placeholder="{{ "Username"|trans }}"/>
    <input type="password" class="form-control pword" name="_password" placeholder="{{ "Password"|trans }}"/>
    <a href="{{ path('demo_user_sign_up') }}"><small>Sign Up</small></a>
    <div class="checkbox mt5 mb5">
        <label>
            <input type="checkbox" name="_remember_me" checked/> {{ "Keep me logged in"|trans }}
        </label>
    </div>
    <button class="btn btn-success btn-block" type="submit">{{ "Sign In"|trans }}</button>

</form>
