{% extends "::base.html.twig" %}

{% import _self as size %}

{% macro bytesToSize(bytes) %}
    {% spaceless %}
        {% set kilobyte = 1024 %}
        {% set megabyte = kilobyte * 1024 %}
        {% set gigabyte = megabyte * 1024 %}
        {% set terabyte = gigabyte * 1024 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' B' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
        {% else %}
            {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% block body %}
<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Filename</th>
            <th>Size</th>
            <th>Upload Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for file in files %}
        <tr>
            <td>{{ file.id }}</td>
            <td><a href="/{{ file.webPath }}">{{ file.name }}</a></td>
            <td>{{ size.bytesToSize(file.size) }}</td>
            <td>{{ file.uploadDate|date('c') }}</td>
            <td><a href="{{ path('demo_files_delete', {id: file.id}) }}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="4" style="text-align: right">Capacity</th>
        <th>{{ files|length }} / 20</th>
    </tr>
    </tfoot>
</table>
{% if files|length < 20 %}
<a href="{{ path('demo_files_new') }}">Upload new file</a>
{% endif %}
{% endblock %}
