{% extends "::base.html.twig" %}

{% block body %}
    <ul>
        <li><a href="{{ path('demo_user_edit') }}">Edit Profile</a></li>
        <li><a href="{{ path('demo_files_list') }}">Files</a></li>
        <li><a href="{{ path('demo_user_logout') }}">Logout</a></li>
    </ul>
{% endblock %}
